www/accesosDirectos.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css"/>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/core.js"></script>
  </head>
  <body>
    <div id="app">
      <header><img src="img/index/ios-menu-outline.svg" id="menuAmb"/>
        <div class="cajat1">
          <p id="t1">T1</p>
          <p id="seller">Sellers</p>
        </div>
        <div id="usuario"><img src="./img/index/ios-notifications-outline.svg" class="campana"/>
          <p class="usrtxt">Angel</p><img src="./img/index/arrow1.svg" class="arrow"/>
        </div>
      </header>
      <div id="contenedorMenu"><span><img src="./img/index/ios-home-outline.svg" class="imagen"/>
          <p class="txt">HOME</p></span><span id="canalesVenta" onclick="menu()" class="gris"><img src="./img/index/ico-cart.svg" id="imagen" class="imagen"/>
          <p class="txt">CANALES DE VENTA</p></span>
        <ul id="aparecerMenu" class="subMenu"> 
          <li> TIENDA</li>
          <li> WEB</li>
          <li class="roja"> APP</li>
        </ul><span><img src="./img/index/ios-pricetag-outline.svg" class="imagen"/>
          <p class="txt">PRODUCTOS</p></span><span> <img src="./img/index/ios-megaphone-outline.svg" class="imagen"/>
          <p class="txt">ADD'S</p></span><span> <img src="./img/index/ios-card-outline.svg" class="imagen"/>
          <p class="txt">TRANSACCIONES</p></span><span> <img src="./img/index/ios-archive-outline.svg" class="imagen"/>
          <p class="txt">PEDIDOS</p></span><span> <img src="./img/index/ios-paper-plane-outline.svg" class="imagen"/>
          <p class="txt">ENVIOS </p></span><span> <img src="./img/index/ios-stats-outline.svg" class="imagen"/>
          <p class="txt">REPRTERÍA     </p></span><span> <img src="./img/index/ios-medical-outline.svg" class="imagen"/>
          <p class="txt">POLÍTICAS  </p></span>
      </div>
      <div id="contenedor">
        <div class="alertas">
          <div class="alert">
            <p>API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla</p>
            <div class="closeBtn1">&times;</div>
          </div>
          <div class="error">
            <p>Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!</p>
            <div class="closeBtn">&times;</div>
          </div>
        </div>
        <div id="subContenedor">
          <div class="cajatxt">
            <p class="titulo">ACCESOS DIRECTOS</p>
            <p class="subtitulo">LISTA DE ACCESOS DIRECTOS</p>
          </div><!--Componente -->
          <infoleer></infoleer>
          <p class="titulo">Lista de accesos directos</p>
          <div class="cajaAccesos">
            <table id="tabla2">
              <thead class="stick2">
                <tr>
                  <th v-for="titulos of titulosAD" class="stick2">{{titulos}}</th>
                  <th class="stick2 thG"></th>
                </tr>
              </thead>
              <tbody id="cuerpoT">
                <tr v-for="ac of AcceosDirectos">
                  <td class="txtCenter">{{ac.posicion}}</td>
                  <td>{{ac.descripcion}} </td>
                  <td v-if="ac.posicion===1">
                    <button id="EditarTC" class="editar">Editar</button>
                  </td>
                  <td v-else-if="ac.posicion===2" class="tdElim"> 
                    <button class="editar md1">Editar</button>
                    <button id="arw1" class="arw">
                      <p><i id="ac" class="down ac"></i></p>
                    </button>
                    <div id="elim" class="elimAD">Eliminar</div>
                  </td>
                  <td v-else="v-else">   
                    <button class="editar md1">Editar</button>
                    <button class="arw">
                      <p><i class="down ac">               </i></p>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="cajaBotones">
            <center>
              <button id="agregar">Agregar</button>
              <button id="guardar">Guardar y enviar a APP</button>
            </center>
          </div>
        </div>
      </div>
      <footer>
        <div class="nav"><img src="img/index/ios-arrow-dropleft-circle.svg" class="atras"/>
          <p>sss</p>
        </div>
      </footer>
      <div id="modal1">
        <div class="cajaCerrar">
          <div class="btnCerrar">&times;</div>
        </div>
        <div class="dialog">Pantalla para agregar y editar, cuando se realice esto último los datos tienen que estar precargados</div>
        <div class="form">
          <div class="cInput">
            <p class="tituloForm"> Acceso Directo</p>
            <p class="txtInput">Nombre de la imagen:</p>
            <input type="text" placeholder="Required" class="inp"/>
            <p class="txtInput">Seleccion la vista al que va dirigido el link:</p>
                  <div class="select-box2">
                    <div tabindex="1" class="select-box__current">
                      <div class="select-box__value">
                        <input id="10" type="radio" value="10" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Landing</p>
                      </div>
                      <div class="select-box__value">
                        <input id="11" type="radio" value="11" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Categoría</p>
                      </div>
                      <div class="select-box__value">
                        <input id="12" type="radio" value="12" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Detalle de producto</p>
                      </div>
                      <div class="select-box__value">
                        <input id="13" type="radio" value="13" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Corner</p>
                      </div>
                      <div class="select-box__value">
                        <input id="14" type="radio" value="14" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Tienda</p>
                      </div>
                      <div class="select-box__value">
                        <input type="radio" id="" value="" name="Ben" checked="checked" class="select-box__input"/>
                        <p id="select-box__input-text2">Seleciona una opcion </p>
                      </div>
                      <p class="select-box__icon"><i class="down"></i></p>
                    </div>
                    <ul class="select-box__list lista1">
                      <li>
                        <label for="10" aria-hidden="aria-hidden" class="select-box__option">Landing</label>
                      </li>
                      <li>
                        <label for="11" aria-hidden="aria-hidden" class="select-box__option">Categoría</label>
                      </li>
                      <li>
                        <label for="12" aria-hidden="aria-hidden" class="select-box__option">Detalle de producto</label>
                      </li>
                      <li>
                        <label for="13" aria-hidden="aria-hidden" class="select-box__option">Corner</label>
                      </li>
                      <li>
                        <label for="14" aria-hidden="aria-hidden" class="select-box__option">Tienda</label>
                      </li>
                    </ul>
                  </div>
            <p class="txtInput">Link relativo Ej: /imagen.jpg</p>
            <input type="text" placeholder="Required" class="inp"/>
            <p class="txtInput">Subir imagen:</p>
            <div class="input__row uploader">
              <div id="inputval" class="input-value">Required</div>
              <label for="file_1">Cargar</label>
              <input id="file_1" type="file" class="upload"/>
            </div>
            <div class="date1">
              <p class="txtInput">Fecha Inicial/hora</p>
              <input type="datetime-local" placeholder="dd/mm/aaaa --:--"/>
            </div>
            <div class="date">
              <p class="txtInput">Fecha Final/hora</p>
              <input type="datetime-local" placeholder="dd/mm/aaaa --:--"/>
            </div>
            <p class="txtInput">Status</p>
            <div class="card">
              <div class="material-toggle">
                <input id="toggle" type="checkbox" name="toggle" checked="true" class="switch"/>
                <label for="toggle"></label>
              </div>
            </div>
            <button id="subir">Subir</button>
          </div>
        </div>
      </div>
      <div id="modal2">
        <div class="cajaCerrar">
          <div class="btnCerrar">&times;</div>
        </div>
        <div class="form2">
          <div class="cInput">
            <div class="imgPregunta"></div>
            <p class="tituloEliminar">¿Seguro que quieres eliminar este acceso directo?</p>
            <button id="cancelar">Cancelar</button>
            <button id="eliminar">Si deseo eliminarlo</button>
          </div>
        </div>
      </div>
      <div id="modal3">
        <div class="cajaCerrar">
          <div class="btnCerrar">&times;</div>
        </div>
        <div class="form2">
          <div class="cInput">
            <p class="tituloForm"> Acceso Directo</p>
            <p class="txtInput">Link relativo Ej: /imagen.jpg</p>
            <input type="text" placeholder="Required" class="inp"/>
            <p class="txtInput">Subir imagen:</p>
            <div class="input__row uploader">
              <div id="inputval" class="input-value">Required</div>
              <label for="file_1">Cargar</label>
              <input id="file_1" type="file" class="upload"/>
            </div>
            <button id="subir2">Subir </button>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>

src/jade/accesosDirectos.jade
<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/mixins.jade

            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor
                .alertas
                    .alert
                        p API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla
                        .closeBtn1 &times;
                    .error
                        p Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!
                        .closeBtn &times;
                #subContenedor
                    .cajatxt
                        p.titulo ACCESOS DIRECTOS
                        p.subtitulo LISTA DE ACCESOS DIRECTOS
                    <!--Componente -->
                    infoleer
                    p.titulo Lista de accesos directos
                    .cajaAccesos
                        table#tabla2
                            thead.stick2
                                tr
                                    th.stick2(v-for="titulos of titulosAD") {{titulos}}
                                    th.stick2.thG
                            tbody#cuerpoT
                                tr(v-for="ac of AcceosDirectos")
                                    td.txtCenter {{ac.posicion}}
                                    td {{ac.descripcion}} 
                                    td(v-if="ac.posicion===1")
                                        button.editar#EditarTC Editar
                                    td.tdElim(v-else-if="ac.posicion===2") 
                                        button.editar.md1 Editar
                                        button#arw1.arw
                                            p
                                                i#ac.down.ac
                                        .elimAD#elim Eliminar
                                    td(v-else)    
                                        button.editar.md1 Editar
                                        button.arw
                                            p
                                                i.down.ac                
                                    
                    .cajaBotones
                        center
                            button#agregar Agregar
                            
                            button#guardar Guardar y enviar a APP
                               
                     
            include ./includes/footer.jade

            include ./includes/modales/accesoDiercto.jade
            include ./includes/modales/accesoDirectoEliminar.jade
            include ./includes/modales/accesoDirectoSubir.jade
                       

        script(src="./js/vue.min.js")
        script(src="./js/app.js")


        
