www/emarsys.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css"/>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/core.js"></script>
  </head>
  <body>
    <div id="app">
      <header><img src="img/index/ios-menu-outline.svg" id="menuAmb"/>
        <div class="cajat1">
          <p id="t1">T1</p>
          <p id="seller">Sellers</p>
        </div>
        <div id="usuario"><img src="./img/index/ios-notifications-outline.svg" class="campana"/>
          <p class="usrtxt">Angel</p><img src="./img/index/arrow1.svg" class="arrow"/>
        </div>
      </header>
      <div id="contenedorMenu"><span><img src="./img/index/ios-home-outline.svg" class="imagen"/>
          <p class="txt">HOME</p></span><span id="canalesVenta" onclick="menu()" class="gris"><img src="./img/index/ico-cart.svg" id="imagen" class="imagen"/>
          <p class="txt">CANALES DE VENTA</p></span>
        <ul id="aparecerMenu" class="subMenu"> 
          <li> TIENDA</li>
          <li> WEB</li>
          <li class="roja"> APP</li>
        </ul><span><img src="./img/index/ios-pricetag-outline.svg" class="imagen"/>
          <p class="txt">PRODUCTOS</p></span><span> <img src="./img/index/ios-megaphone-outline.svg" class="imagen"/>
          <p class="txt">ADD'S</p></span><span> <img src="./img/index/ios-card-outline.svg" class="imagen"/>
          <p class="txt">TRANSACCIONES</p></span><span> <img src="./img/index/ios-archive-outline.svg" class="imagen"/>
          <p class="txt">PEDIDOS</p></span><span> <img src="./img/index/ios-paper-plane-outline.svg" class="imagen"/>
          <p class="txt">ENVIOS </p></span><span> <img src="./img/index/ios-stats-outline.svg" class="imagen"/>
          <p class="txt">REPRTERÍA     </p></span><span> <img src="./img/index/ios-medical-outline.svg" class="imagen"/>
          <p class="txt">POLÍTICAS  </p></span>
      </div>
      <div id="contenedor">
        <div class="alertas">
          <div class="alert">
            <p>API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla</p>
            <div class="closeBtn1">&times;</div>
          </div>
          <div class="error">
            <p>Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!</p>
            <div class="closeBtn">&times; </div>
          </div>
        </div>
        <div id="subContenedor">
          <div class="cajatxt">
            <p class="titulo">EMARSYS</p>
            <p class="subtitulo">LISTA DE MARKETING</p>
          </div><!--Componente -->
          <infoleer></infoleer>
          <p class="titulo">Lógicas de emarsys para home</p><br/>
          <div class="contenedorTabla4">
            <table id="tabla3">
              <thead class="stick">
                <tr>
                  <th class="stick3 ml">Status</th>
                  <th class="stick3">Lógica</th>
                  <th class="stick3"> </th>
                </tr>
              </thead>
              <tbody id="cuerpoT">
                <tr v-for="log of Emarsys">
                  <td>
                    <label class="control control--checkbox">
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator2"></div>
                    </label>
                  </td>
                  <td>{{log.logica}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="areaBoton2">
            <button id="cambiar">Cambiar</button>
          </div>
        </div>
      </div>
      <footer>
        <div class="nav"><img src="img/index/ios-arrow-dropleft-circle.svg" class="atras"/>
          <p>sss</p>
        </div>
      </footer>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>

src/jade/emarsys.jade
<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor
                .alertas
                    .alert
                        p API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla
                        .closeBtn1 &times;
                    .error
                        p Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!
                        .closeBtn &times; 
                #subContenedor
                    .cajatxt
                        p.titulo EMARSYS
                        p.subtitulo LISTA DE MARKETING
                    <!--Componente -->
                    infoleer
                    p.titulo Lógicas de emarsys para home
                    br
                    .contenedorTabla4
                        table#tabla3
                            thead.stick
                                tr
                                    th.stick3.ml Status
                                    th.stick3 Lógica
                                    th.stick3 
                                    
                            tbody#cuerpoT
                                        
                                tr(v-for="log of Emarsys")
                                    td
                                        label.control.control--checkbox
                                            input(type='checkbox', checked)
                                            .control__indicator2
                                        
                                    td
                                        | {{log.logica}}
                                    td
                                
                    .areaBoton2
                        button#cambiar Cambiar

            include ./includes/footer.jade
            
        script(src="./js/vue.min.js")
        script(src="./js/app.js")


        
