www/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css"/>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/core.js"></script>
  </head>
  <body>
    <div id="app">
      <header><img src="img/index/ios-menu-outline.svg" id="menuAmb"/>
        <div class="cajat1">
          <p id="t1">T1</p>
          <p id="seller">Sellers</p>
        </div>
        <div id="usuario"><img src="./img/index/ios-notifications-outline.svg" class="campana"/>
          <p class="usrtxt">Angel</p><img src="./img/index/arrow1.svg" class="arrow"/>
        </div>
      </header>
      <div id="contenedorMenu"><span><img src="./img/index/ios-home-outline.svg" class="imagen"/>
          <p class="txt">HOME</p></span><span id="canalesVenta" onclick="menu()" class="gris"><img src="./img/index/ico-cart.svg" id="imagen" class="imagen"/>
          <p class="txt">CANALES DE VENTA</p></span>
        <ul id="aparecerMenu" class="subMenu"> 
          <li> TIENDA</li>
          <li> WEB</li>
          <li class="roja"> APP</li>
        </ul><span><img src="./img/index/ios-pricetag-outline.svg" class="imagen"/>
          <p class="txt">PRODUCTOS</p></span><span> <img src="./img/index/ios-megaphone-outline.svg" class="imagen"/>
          <p class="txt">ADD'S</p></span><span> <img src="./img/index/ios-card-outline.svg" class="imagen"/>
          <p class="txt">TRANSACCIONES</p></span><span> <img src="./img/index/ios-archive-outline.svg" class="imagen"/>
          <p class="txt">PEDIDOS</p></span><span> <img src="./img/index/ios-paper-plane-outline.svg" class="imagen"/>
          <p class="txt">ENVIOS </p></span><span> <img src="./img/index/ios-stats-outline.svg" class="imagen"/>
          <p class="txt">REPRTERÍA     </p></span><span> <img src="./img/index/ios-medical-outline.svg" class="imagen"/>
          <p class="txt">POLÍTICAS  </p></span>
      </div>
      <div id="contenedor"> 
        <div id="subContenedor">
          <div class="cajatxt">
            <p class="titulo">ADMINISTRACIÓN DE LA APP </p>
            <p class="subtitulo">Personaliza tu marca mediante las páginas administrables y productos de la aplicación móvil </p>
          </div>
          <div class="cajaPersonaliza">
            <p class="selecciona">Selecciona la página que deseas administrar</p>
            <div class="personaliza">
              <div class="celular">
                <p class="titulop">Personalizar app</p><img src="img/index/celular-img.svg" class="imgCelular"/>
              </div>
              <div class="lista">
                <p class="txtlista">Lista de páginas de app</p>
                      <div class="select-box">
                        <div tabindex="1" class="select-box__current">
                          <div class="select-box__value">
                            <input id="20" type="radio" value="20" name="Ben" checked="checked" class="select-box__input"/>
                            <p class="select-box__input-text">Home</p>
                          </div>
                          <div class="select-box__value">
                            <input id="21" type="radio" value="21" name="Ben" checked="checked" class="select-box__input"/>
                            <p class="select-box__input-text">Categorías</p>
                          </div>
                          <div class="select-box__value">
                            <input id="22" type="radio" value="22" name="Ben" checked="checked" class="select-box__input"/>
                            <p class="select-box__input-text">Landing</p>
                          </div>
                          <div class="select-box__value">
                            <input type="radio" id="" value="" name="Ben" checked="checked" class="select-box__input"/>
                            <p id="select-box__input-text1" class="PH">Seleciona una opcion </p>
                          </div>
                          <p class="select-box__icon"><i class="down"></i></p>
                        </div>
                        <ul class="select-box__list lista1">
                          <li>
                            <label for="20" aria-hidden="aria-hidden" class="select-box__option">Home</label>
                          </li>
                          <li>
                            <label for="21" aria-hidden="aria-hidden" class="select-box__option">Categorías</label>
                          </li>
                          <li>
                            <label for="22" aria-hidden="aria-hidden" class="select-box__option">Landing</label>
                          </li>
                        </ul>
                      </div><a href="modulosHome.html">
                  <button id="btnRespons">Comenzar        </button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="nav"><img src="img/index/ios-arrow-dropleft-circle.svg" class="atras"/>
          <p>sss</p>
        </div>
      </footer>
      <script src="./js/vue.min.js"></script>
      <script src="./js/app.js"></script>
    </div>
  </body>
</html>

src/jade/index.jade
<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/mixins.jade
            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor 
                #subContenedor
                    .cajatxt
                        p.titulo ADMINISTRACIÓN DE LA APP 
                        p.subtitulo Personaliza tu marca mediante las páginas administrables y productos de la aplicación móvil 
                    .cajaPersonaliza
                        p.selecciona Selecciona la página que deseas administrar
                        .personaliza
                            .celular
                                p.titulop Personalizar app
                                img(src="img/index/celular-img.svg" class="imgCelular")
                            .lista
                                p.txtlista Lista de páginas de app
                                +CheckBox1([
                                    {name: 'Home', value: '20'}, 
                                    {name: 'Categorías', value: '21'}, 
                                    {name: 'Landing', value: '22'}
                                    ])  

                                a(href="modulosHome.html")
                                    button#btnRespons Comenzar        
                     
            include ./includes/footer.jade

            script(src="./js/vue.min.js")
            script(src="./js/app.js")



        
