www/listaBanners.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css"/>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/core.js"></script>
  </head>
  <body>
    <div id="app">
      <header><img src="img/index/ios-menu-outline.svg" id="menuAmb"/>
        <div class="cajat1">
          <p id="t1">T1</p>
          <p id="seller">Sellers</p>
        </div>
        <div id="usuario"><img src="./img/index/ios-notifications-outline.svg" class="campana"/>
          <p class="usrtxt">Angel</p><img src="./img/index/arrow1.svg" class="arrow"/>
        </div>
      </header>
      <div id="contenedorMenu"><span><img src="./img/index/ios-home-outline.svg" class="imagen"/>
          <p class="txt">HOME</p></span><span id="canalesVenta" onclick="menu()" class="gris"><img src="./img/index/ico-cart.svg" id="imagen" class="imagen"/>
          <p class="txt">CANALES DE VENTA</p></span>
        <ul id="aparecerMenu" class="subMenu"> 
          <li> TIENDA</li>
          <li> WEB</li>
          <li class="roja"> APP</li>
        </ul><span><img src="./img/index/ios-pricetag-outline.svg" class="imagen"/>
          <p class="txt">PRODUCTOS</p></span><span> <img src="./img/index/ios-megaphone-outline.svg" class="imagen"/>
          <p class="txt">ADD'S</p></span><span> <img src="./img/index/ios-card-outline.svg" class="imagen"/>
          <p class="txt">TRANSACCIONES</p></span><span> <img src="./img/index/ios-archive-outline.svg" class="imagen"/>
          <p class="txt">PEDIDOS</p></span><span> <img src="./img/index/ios-paper-plane-outline.svg" class="imagen"/>
          <p class="txt">ENVIOS </p></span><span> <img src="./img/index/ios-stats-outline.svg" class="imagen"/>
          <p class="txt">REPRTERÍA     </p></span><span> <img src="./img/index/ios-medical-outline.svg" class="imagen"/>
          <p class="txt">POLÍTICAS  </p></span>
      </div>
      <div id="contenedor">
        <div class="alertas">
          <div class="alert">
            <p>API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla</p>
            <div class="closeBtn1">&times;</div>
          </div>
        </div>
        <div class="alertas2">
          <div class="error">
            <p>Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!</p>
            <div class="closeBtn">&times; </div>
          </div>
          <div class="error">
            <p>Puedes agregar máximo 6 banners!</p>
            <div class="closeBtn">&times; </div>
          </div>
        </div>
        <div id="subContenedorLista">
          <div class="cajatxt">
            <p class="titulo">ADMINISTRACIÓN DE LA APP</p>
            <p class="subtitulo">LISTA DE MÓDULOS A EDITABLES EN HOME</p>
          </div>
          <p class="titulo">Lista de banners en home</p><br/><!--Componente -->        
          <tablabaners>                </tablabaners>
          <div class="areaBoton">
            <button id="btnEditar">Editar</button>
            <button id="enviarApp">Enviar a App             </button>
          </div>
        </div>
        <div id="subContenedor2">
          <div class="cajatxt">
            <p class="titulo">ADMINISTRACIÓN DE LA APP</p>
            <p class="subtitulo">LISTA DE MÓDULOS A <br/>EDITABLES EN HOME</p>
          </div>
          <div class="cajaPersonaliza">
            <p class="selecciona">Banners en Home</p>
          </div><br/><br/>
          <div class="cajaBanner">
            <div id="imagenBanner"><img src="img/index/celular-img.svg" class="imgCover"/></div>
          </div>
          <div class="cajaBanner"></div>
          <div class="cajaBanner">   </div>
        </div>
      </div><!--Componente --> 
      <menuconfigbanners>       </menuconfigbanners>
      <div id="modal4">
        <div class="cajaCerrar">
          <div class="btnCerrar">&times;</div>
        </div>
        <div class="form">
          <div class="cInput">
            <p class="tituloForm"> Actualizar Imágenes</p>
            <p class="txtInput">Nombre de la imagen:</p>
            <input type="text" placeholder="Required" class="inp"/>
            <p class="txtInput">Seleccion la vista al que va dirigido el link:</p>
                  <div class="select-box2">
                    <div tabindex="1" class="select-box__current">
                      <div class="select-box__value">
                        <input id="0" type="radio" value="0" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Landing</p>
                      </div>
                      <div class="select-box__value">
                        <input id="1" type="radio" value="1" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Categoría</p>
                      </div>
                      <div class="select-box__value">
                        <input id="2" type="radio" value="2" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Detalle de producto</p>
                      </div>
                      <div class="select-box__value">
                        <input id="3" type="radio" value="3" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Corner</p>
                      </div>
                      <div class="select-box__value">
                        <input id="4" type="radio" value="4" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Tienda</p>
                      </div>
                      <div class="select-box__value">
                        <input type="radio" id="" value="" name="Ben" checked="checked" class="select-box__input"/>
                        <p id="select-box__input-text2">Seleciona una opcion </p>
                      </div>
                      <p class="select-box__icon"><i class="down"></i></p>
                    </div>
                    <ul class="select-box__list lista1">
                      <li>
                        <label for="0" aria-hidden="aria-hidden" class="select-box__option">Landing</label>
                      </li>
                      <li>
                        <label for="1" aria-hidden="aria-hidden" class="select-box__option">Categoría</label>
                      </li>
                      <li>
                        <label for="2" aria-hidden="aria-hidden" class="select-box__option">Detalle de producto</label>
                      </li>
                      <li>
                        <label for="3" aria-hidden="aria-hidden" class="select-box__option">Corner</label>
                      </li>
                      <li>
                        <label for="4" aria-hidden="aria-hidden" class="select-box__option">Tienda</label>
                      </li>
                    </ul>
                  </div>
            <p class="txtInput">Link relativo Ej: /imagen.jpg</p>
            <input type="text" placeholder="Required" class="inp"/>
            <p class="txtInput">Subir imagen:</p>
            <div class="input__row uploader">
              <div id="inputval" class="input-value">Required</div>
              <label for="file_1">Cargar</label>
              <input id="file_1" type="file" class="upload"/>
            </div>
            <div class="date1">
              <p class="txtInput">Fecha Inicial/hora</p>
              <input type="datetime-local" placeholder="dd/mm/aaaa --:--"/>
            </div>
            <div class="date">
              <p class="txtInput">Fecha Final/hora</p>
              <input type="datetime-local" placeholder="dd/mm/aaaa --:--"/>
            </div>
            <p class="txtInput">Status</p>
            <div class="card">
              <div class="material-toggle">
                <input id="toggle4" type="checkbox" name="toggle4" checked="true" class="switch"/>
                <label for="toggle4"></label>
              </div>
            </div>
            <button class="btnAzul-c SubirIMG">Subir</button>
          </div>
        </div>
      </div>
      <div id="modal5"> 
        <div class="cajaCerrar">
          <div class="btnCerrar">&times;</div>
        </div>
        <div class="form">
          <div class="cInput"> 
            <p class="tituloForm"> Actualizar Imágenes</p>
            <div class="Projo"></div>
            <p class="txtInput inl-blk">Lista de páginas de app</p>
                  <div class="select-box2">
                    <div tabindex="1" class="select-box__current">
                      <div class="select-box__value">
                        <input id="5" type="radio" value="5" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Landing</p>
                      </div>
                      <div class="select-box__value">
                        <input id="6" type="radio" value="6" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Categoría</p>
                      </div>
                      <div class="select-box__value">
                        <input id="7" type="radio" value="7" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Detalle de producto</p>
                      </div>
                      <div class="select-box__value">
                        <input id="8" type="radio" value="8" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Corner</p>
                      </div>
                      <div class="select-box__value">
                        <input id="9" type="radio" value="9" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Tienda</p>
                      </div>
                      <div class="select-box__value">
                        <input type="radio" id="" value="" name="Ben" checked="checked" class="select-box__input"/>
                        <p id="select-box__input-text2-2">Seleciona una opcion </p>
                      </div>
                      <p class="select-box__icon"><i class="down"></i></p>
                    </div>
                    <ul class="select-box__list lista2">
                      <li>
                        <label for="5" aria-hidden="aria-hidden" class="select-box__option">Landing          </label>
                      </li>
                      <li>
                        <label for="6" aria-hidden="aria-hidden" class="select-box__option">Categoría          </label>
                      </li>
                      <li>
                        <label for="7" aria-hidden="aria-hidden" class="select-box__option">Detalle de producto          </label>
                      </li>
                      <li>
                        <label for="8" aria-hidden="aria-hidden" class="select-box__option">Corner          </label>
                      </li>
                      <li>
                        <label for="9" aria-hidden="aria-hidden" class="select-box__option">Tienda          </label>
                      </li>
                    </ul>
                  </div>
            <div class="Projo"></div>
            <p class="txtInput inl-blk">Nombre:</p>
            <input type="text" placeholder="Required" class="inp"/>
            <div class="Projo">              </div>
            <p class="txtInput inl-blk">Link relativo Ej: /imagen.jpg</p>
            <input type="text" placeholder="Required" class="inp"/>
            <div class="Projo"></div>
            <p class="txtInput inl-blk">Subir imagen:</p>
            <div class="input__row uploader">
              <div id="inputval" class="input-value">Required</div>
              <label for="file_1">Cargar</label>
              <input id="file_1" type="file" class="upload"/>
            </div>
            <div class="date1 w-60">
              <div class="Projo"></div>
              <p class="txtInput inl-blk">Fecha Inicial/hora</p>
              <input type="datetime-local" placeholder="dd/mm/aaaa --:--"/>
            </div>
            <div class="date w-60">
              <div class="Projo"></div>
              <p class="txtInput inl-blk">Fecha Final/hora</p>
              <input type="datetime-local" placeholder="dd/mm/aaaa --:--"/>
            </div>
            <p class="txtInput">Status</p>
            <div class="card">
              <div class="material-toggle">
                <input id="toggle" type="checkbox" name="toggle" checked="true" class="switch"/>
                <label for="toggle"></label>
              </div>
            </div>
            <button id="ACimagen" class="btnAzul-c">Subir   </button>
          </div>
        </div>
      </div>
      <footer>
        <div class="nav"><img src="img/index/ios-arrow-dropleft-circle.svg" class="atras"/>
          <p>sss</p>
        </div>
      </footer>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>

src/jade/listaBanners.jade
<!DOCTYPE html>
html(lang="en")
    include ./includes/head.jade
    body
        div(id="app")
            include ./includes/mixins.jade

            include ./includes/header.jade

            include ./includes/menu.jade 

            #contenedor
                .alertas
                    .alert
                        p API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla
                        .closeBtn1 &times;
                .alertas2
                    .error
                        p Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!
                        .closeBtn &times; 
                    .error
                        p Puedes agregar máximo 6 banners!
                        .closeBtn &times; 
                #subContenedorLista
                    .cajatxt
                        p.titulo ADMINISTRACIÓN DE LA APP
                        p.subtitulo LISTA DE MÓDULOS A EDITABLES EN HOME
                    p.titulo Lista de banners en home
                    br
                    <!--Componente -->        
                    tablabaners                 
                    .areaBoton
                        
                        button#btnEditar Editar
                        button#enviarApp Enviar a App             
                #subContenedor2
                    div(class="cajatxt")
                        p(class="titulo") ADMINISTRACIÓN DE LA APP
                        p(class="subtitulo") LISTA DE MÓDULOS A 
                            br 
                            | EDITABLES EN HOME
                    div(class="cajaPersonaliza")
                        p(class="selecciona") Banners en Home
                    br 
                    br    
                    .cajaBanner
                        #imagenBanner
                            img(src="img/index/celular-img.svg" class="imgCover")
                    .cajaBanner
                    .cajaBanner    
            <!--Componente --> 
            menuconfigbanners        
         
            
            include ./includes/modales/actulizarImagenes.jade
            include ./includes/modales/actualizarImagenes2.jade

             
            include ./includes/footer.jade

        script(src="./js/vue.min.js")
        script(src="./js/app.js")


        
