www/bannersTiendasMarcas.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css"/>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/core.js"></script>
  </head>
  <body>
    <div id="app">
      <header><img src="img/index/ios-menu-outline.svg" id="menuAmb"/>
        <div class="cajat1">
          <p id="t1">T1</p>
          <p id="seller">Sellers</p>
        </div>
        <div id="usuario"><img src="./img/index/ios-notifications-outline.svg" class="campana"/>
          <p class="usrtxt">Angel</p><img src="./img/index/arrow1.svg" class="arrow"/>
        </div>
      </header>
      <div id="contenedorMenu"><span><img src="./img/index/ios-home-outline.svg" class="imagen"/>
          <p class="txt">HOME</p></span><span id="canalesVenta" onclick="menu()" class="gris"><img src="./img/index/ico-cart.svg" id="imagen" class="imagen"/>
          <p class="txt">CANALES DE VENTA</p></span>
        <ul id="aparecerMenu" class="subMenu"> 
          <li> TIENDA</li>
          <li> WEB</li>
          <li class="roja"> APP</li>
        </ul><span><img src="./img/index/ios-pricetag-outline.svg" class="imagen"/>
          <p class="txt">PRODUCTOS</p></span><span> <img src="./img/index/ios-megaphone-outline.svg" class="imagen"/>
          <p class="txt">ADD'S</p></span><span> <img src="./img/index/ios-card-outline.svg" class="imagen"/>
          <p class="txt">TRANSACCIONES</p></span><span> <img src="./img/index/ios-archive-outline.svg" class="imagen"/>
          <p class="txt">PEDIDOS</p></span><span> <img src="./img/index/ios-paper-plane-outline.svg" class="imagen"/>
          <p class="txt">ENVIOS </p></span><span> <img src="./img/index/ios-stats-outline.svg" class="imagen"/>
          <p class="txt">REPRTERÍA     </p></span><span> <img src="./img/index/ios-medical-outline.svg" class="imagen"/>
          <p class="txt">POLÍTICAS  </p></span>
      </div>
      <div id="contenedor">
        <div class="alertas">
          <div class="alert">
            <p>API Trabajando!, Se actualizará en la aplicacion cuando vuelvan a abrirla</p>
            <div class="closeBtn1">&times;</div>
          </div>
          <div class="error">
            <p>Puedes agregar máximo 4 tiendas</p>
            <div class="closeBtn">&times; </div>
          </div>
          <div class="error">
            <p>Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!</p>
            <div class="closeBtn">&times; </div>
          </div>
        </div>
        <div class="alertas2">
          <div class="error">
            <p>Ocurrió un error. No se han podido actualizar los banners. Vuelve a intentarlo!</p>
            <div class="closeBtn">&times; </div>
          </div>
          <div class="error">
            <p>Puedes agregar máximo 6 banners!</p>
            <div class="closeBtn">&times; </div>
          </div>
        </div>
        <div id="subContenedorLista">
          <div class="cajatxt">
            <p class="titulo">BANNERS DE TIENDAS / MARCAS </p>
            <p class="subtitulo">LISTA DE BANNERS /<br/>MARCAS</p>
          </div><!--Componente -->
          <infoleer></infoleer>
          <p class="titulo">Banners en Tiendas / Marcas</p><br/><!--Componente -->        
          <tablabaners> </tablabaners>
          <div class="areaBoton">
            <button id="btnEditar">Editar</button>
            <button id="enviarApp">Enviar a App             </button>
          </div>
        </div>
        <div id="subContenedor2">
          <div class="cajatxt">
            <p class="titulo">BANNERS DE TIENDAS / MARCAS </p>
            <p class="subtitulo">LISTA DE BANNERS /<br/>MARCAS</p>
          </div>
          <div class="cajaPersonaliza">
            <p class="selecciona">Banners en Tiendas / Marcas</p>
          </div><br/><br/>
          <div class="cajaBanner">
            <div id="imagenBanner"><img src="img/index/celular-img.svg" class="imgCover"/></div>
          </div>
          <div class="cajaBanner"></div>
          <div class="cajaBanner">   </div>
        </div>
      </div><!--Componente --> 
      <menuconfigbanners></menuconfigbanners>
      <div id="modal7">
        <div class="cajaCerrar">
          <div class="btnCerrar">&times;</div>
        </div>
        <div class="dialog">Pantalla para agregar y editar, cuando se realice esto último los datos tienen que estar precargados</div>
        <div class="form">
          <div class="cInput">
            <p class="tituloForm"> Banners de tiendas / marcas</p>
            <p class="txtInput">Nombre de la imagen:</p>
            <input type="text" placeholder="Required" class="inp"/>
            <p class="txtInput">Seleccion la vista al que va dirigido el link:</p>
                  <div class="select-box2">
                    <div tabindex="1" class="select-box__current">
                      <div class="select-box__value">
                        <input id="10" type="radio" value="10" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Landing</p>
                      </div>
                      <div class="select-box__value">
                        <input id="11" type="radio" value="11" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Categoría</p>
                      </div>
                      <div class="select-box__value">
                        <input id="12" type="radio" value="12" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Detalle de producto</p>
                      </div>
                      <div class="select-box__value">
                        <input id="13" type="radio" value="13" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Corner</p>
                      </div>
                      <div class="select-box__value">
                        <input id="14" type="radio" value="14" name="Ben" checked="checked" class="select-box__input"/>
                        <p class="select-box__input-text2">Tienda</p>
                      </div>
                      <div class="select-box__value">
                        <input type="radio" id="" value="" name="Ben" checked="checked" class="select-box__input"/>
                        <p id="select-box__input-text2">Seleciona una opcion </p>
                      </div>
                      <p class="select-box__icon"><i class="down"></i></p>
                    </div>
                    <ul class="select-box__list lista1">
                      <li>
                        <label for="10" aria-hidden="aria-hidden" class="select-box__option">Landing</label>
                      </li>
                      <li>
                        <label for="11" aria-hidden="aria-hidden" class="select-box__option">Categoría</label>
                      </li>
                      <li>
                        <label for="12" aria-hidden="aria-hidden" class="select-box__option">Detalle de producto</label>
                      </li>
                      <li>
                        <label for="13" aria-hidden="aria-hidden" class="select-box__option">Corner</label>
                      </li>
                      <li>
                        <label for="14" aria-hidden="aria-hidden" class="select-box__option">Tienda</label>
                      </li>
                    </ul>
                  </div>
            <p class="txtInput">Link relativo Ej: /imagen.jpg</p>
            <input type="text" placeholder="Required" class="inp"/>
            <p class="txtInput">Subir imagen:</p>
            <div class="input__row uploader">
              <div id="inputval" class="input-value">Required</div>
              <label for="file_1">Cargar</label>
              <input id="file_1" type="file" class="upload"/>
            </div>
            <div class="date1">
              <p class="txtInput">Fecha Inicial/hora</p>
              <input type="datetime-local" placeholder="dd/mm/aaaa --:--"/>
            </div>
            <div class="date">
              <p class="txtInput">Fecha Final/hora</p>
              <input type="datetime-local" placeholder="dd/mm/aaaa --:--"/>
            </div>
            <p class="txtInput">Status</p>
            <div class="card">
              <div class="material-toggle">
                <input id="toggle" type="checkbox" name="toggle" checked="true" class="switch"/>
                <label for="toggle"></label>
              </div>
            </div>
            <button id="subirM7" class="btnAzul-c">Subir</button>
          </div>
        </div>
      </div>
      <footer>
        <div class="nav"><img src="img/index/ios-arrow-dropleft-circle.svg" class="atras"/>
          <p>sss</p>
        </div>
      </footer>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>

src/jade/includes/modales/bannersTiendasMarcas.jade
#modal7
                .cajaCerrar
                    .btnCerrar &times;
                .dialog
                    | Pantalla para agregar y editar, cuando se realice esto último los datos tienen que estar precargados
                .form
                    .cInput
                        p.tituloForm  Banners de tiendas / marcas
                        p.txtInput Nombre de la imagen:
                        input.inp(type='text', placeholder='Required')
                        p.txtInput Seleccion la vista al que va dirigido el link:
                        +CheckBox2([
                                    {name: 'Landing', value: '10'}, 
                                    {name: 'Categoría', value: '11'}, 
                                    {name: 'Detalle de producto', value: '12'}, 
                                    {name: 'Corner', value: '13'}, 
                                    {name: 'Tienda', value: '14'}
                                    ])         
                        p.txtInput Link relativo Ej: /imagen.jpg
                        input.inp(type='text', placeholder='Required')
                        p.txtInput Subir imagen:
                        .input__row.uploader
                            #inputval.input-value Required
                            label(for='file_1') Cargar
                            input#file_1.upload(type='file')
                        .date1
                            p.txtInput Fecha Inicial/hora
                            input(type='datetime-local' placeholder="dd/mm/aaaa --:--")
                        .date
                            p.txtInput Fecha Final/hora
                            input(type='datetime-local' placeholder="dd/mm/aaaa --:--")
                        p.txtInput Status
                        .card
                            .material-toggle
                                input#toggle.switch(type='checkbox', name='toggle', checked='true')
                                label(for='toggle')
                        
                        button.btnAzul-c#subirM7 Subir
